@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #f4f1de;
}

body {
  margin: 0;
  font-family: 'Noto Serif SC', serif;
  background-color: var(--bg-color);
  color: #2b2d42;
  transition: background-color 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

/* 竖排文字样式 */
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* 优雅滚动条 */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.2);
}

.color-card-shadow {
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.1);
}
